:root {
  --primary: #635985;
  --secondary: #443c68;
  --accent: #343232;
  --neutral: #25222f;
  --success: #008000;
  --info: #0000ff;
  --error: #ff0000;
  --warning: #ffff00;
  --background: var(--neutral);
}

[data-theme="dark"] {
  --primary: #a4b6cc;
  --secondary: #c1b4d1;
  --accent: #d1c4c4;
  --neutral: #e3e3e3;
  --success: #00ff00;
  --info: #00ffff;
  --error: #ff00ff;
  --warning: #ffff00;
  --background: var(--neutral);
}
[data-theme="light"] {
  --primary: #635985;
  --secondary: #443c68;
  --accent: #343232;
  --neutral: #25222f;
  --success: #008000;
  --info: #0000ff;
  --error: #ff0000;
  --warning: #ffff00;
  --background: var(--neutral);
}
